<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKhbGq1S3jCr2lLSRLZOulVPgg3_o8vvA</string>
	<key>GCM_SENDER_ID</key>
	<string>220648486581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LPFPHOTO.FilmFriendsiOS</string>
	<key>PROJECT_ID</key>
	<string>filmfriends-7f742</string>
	<key>STORAGE_BUCKET</key>
	<string>filmfriends-7f742.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220648486581:ios:ecd63c4777f3e88b96b0fc</string>
</dict>
</plist>